<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group23debug">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ClinicTimeTable"></activity>
        <activity android:name=".Time" />
        <activity android:name=".DeleteServiceFromClinic" />
        <activity android:name=".AddandRate" />
        <activity android:name=".ServiceListView" />
        <activity android:name=".DeleteClinic" />
        <activity android:name=".ViewClinic_Adm" />
        <activity android:name=".ClinicProfile" />
        <activity android:name=".AddClinic" />
        <activity android:name=".viewclinicemp" />
        <activity android:name=".bookClinic" />
        <activity android:name=".welcom_staff" />
        <activity android:name=".Search" />
        <activity android:name=".UpdateAndDeleteService" />
        <activity android:name=".AddServiceToListView" />
        <activity android:name=".AddService" />
        <activity android:name=".DeleteUser" />
        <activity android:name=".ListView_users" />
        <activity android:name=".welcomenor" />
        <activity android:name=".welcomAdm" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>